<div class="card" style="width: 18rem;">
  <div id="<%= dom_id equipe %>" class="card-body">
    <h5 class="card-title">
      <strong>Nome da Equipe:</strong>
      <%= equipe.nome %>
    </h5>

    <p class="card-text">
      <strong>Descricao da Equipe:</strong>
      <%= equipe.descricao %>
    </p>
    
  </div>
</div>
