<div id="<%= dom_id peca %>">
  <p>
    <strong>Name:</strong>
    <%= peca.name %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= peca.quantidade %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= peca.valor %>
  </p>

</div>
