<div style="margin-left: 200px; padding: 15px;">
  <h1>Editando Peca</h1>

  <%= render "form", peca: @peca %>

  <br>

  <div>
    <%= link_to "Voltar para Pecas", pecas_path, class: "btn btn-primary" %>
  </div>
</div>
