<div id="<%= dom_id servico %>" class="d-flex flex-row">
<div>
    <p>
      <strong>Tipo de Servico:</strong>
      <%= servico.tipoDeServico %>
    </p>
</div>
  <div>  
    <p><strong>Valor</strong>
      <%= servico.valor %></p>
  </div>
</div>
