<p class="pb-2" style="color: green"><%= notice %></p>

<h1>Clientes cadastrados</h1>

<div id="oficinas" class="d-flex flex-row">
  <div class=" d-flex flex-row">
    <% @oficinas.each do |oficina| %>
    <div >    
        <%= render oficina %>
        <p>
          <%= link_to "Mostrar cliente", oficina %>
        </p>
    </div>
    <% end %>
  </div>
</div>

<%= link_to "Novo Cliente", new_oficina_path, class:"btn btn-primary" %>
