<div class="card" style="width: 18rem;">
  <div id="<%= dom_id mecanico %>" class="card-body">
    <h5 class="card-title">
      <strong>Nome:</strong>
      <%= mecanico.nome %>
    </h5>

    <p class="card-text">
      <strong>Endereco:</strong>
      <%= mecanico.endereco %>
    </p>

    <p class="card-text">
      <strong>Phone:</strong>
      <%= mecanico.phone %>
    </p>
  </div>
</div>
