<div id="<%= dom_id mecanico %>">
  <p>
    <strong>Nome:</strong>
    <%= mecanico.nome %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= mecanico.endereco %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= mecanico.phone %>
  </p>

</div>
