<div style="margin-left: 200px; padding: 10px;">

  <h1>Editing mecanico</h1>

  <%= render "form", mecanico: @mecanico %>

  <br>

  <div>
    <%= link_to "Show this mecanico", @mecanico %> |
    <%= link_to "Back to mecanicos", mecanicos_path %>
  </div>
</div>