<div style="margin-left: 200px; padding: 15px;">
  <div class="mx-auto md:w-2/3 w-full">
    <h1 class="font-bold text-4xl">Editing Peca</h1>

    <%= render "form", peca: @peca %>

    <%= link_to "Show this Peca", @peca, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to Pecas", pecas_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
