<div style="margin-left: 200px; padding: 20px; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); background-color: #fff;">

  <p class="alert alert-success text-dark"><%= notice %></p>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <%= render @car %>
        </div>
      </div>
      <div class="col-md-6">
        
      </div>
    </div>
  </div>
</div>
