<div id="<%= dom_id funcionario %>">
  <p>
    <strong>Name:</strong>
    <%= funcionario.name %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= funcionario.endereco %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= funcionario.phone %>
  </p>

</div>
